#☆滞在ホテル、バグースジャティについて

<amp-youtube data-param-loop='1' data-param-modestbranding='1' data-param-rel='0' data-videoid='KWADu8lzNng' height='315' layout='responsive' width='560'></amp-youtube>

私たちが滞在する、バグースジャティ（Bagus Jati）のあるジャティ村はジャワ島からバリ島へ初めて訪れたヒンドゥ教聖職者が、 連れてきた神聖な白い牛とともにたどり着いた最初の場所とされています。
以来ジャティ村はスピリチュアル性豊かで、神聖な地域として知られるようになりました。
バリ島で最初の「ヘルス＆ウェルビーイング（健康で豊かな暮らし」）をコンセプトにしたリゾート・バグースジャティは、バリ島中部のウブドから北部のキンタマーニ高原方向へ進んだ標高765メートルの高地、青々と茂った熱帯雨林の森に包まれています。
渓谷に沿った5ヘクタールの広大な敷地内には、8棟の円形のデラックス・スパ・ヴィラと、10棟のスーペリア・ヴィラが、それぞれ十分な距離を保って点在しています。
部屋の窓からは、熱帯雨林の織り成す緑豊かな眺めを堪能でき、それぞれのヴィラのバルコニーでは、 デイ・ベッドに横たわり、リラックスした至福のときをお過ごしいただけることでしょう。
リゾート内には、設備の整ったスパ・センター、エネルギーがスムーズに流れる2つの円形のヨガ・スタジオ、 湧き水を使用したプールなど、ヘルス＆ウェルビーイング施設がそろっています。
また、さまざまな野菜、果物、 ハーブ、彩り豊かな花々が育つオーガニック・ファームがあり、 それらの収穫物はレストランの食材やスパのプロダクトとしても使用されています。
毎朝開催されるヨガ・クラス、トレッキングやクッキング・クラスなど、自然との調和を図ったアクティビティや、 活性と癒やしのスパ・トリートメント、専門カウンセラーと行われるデトックス・プログラムなど、さまざまなアプローチでゲストに健康で活力あふれる生活をご提案いたします。
ストレスから完全に解消されたこのリトリートで、神聖なバリ島の文化に触れ、真の精神の豊かさ・優雅さを感じていただけるよう願っております。

＊ホテルの詳細につきましては、[Bagus Jati 公式サイト](http://www.bagusjati.com/jp/index.php)にてご確認頂けます