#☆プログラム・リード＆コーディネート

<amp-img height='1364' layout='responsive' src='/img/staff/tsururu.jpg' width='1364'></amp-img>

##津留 沢美
子供の頃から「教育」に関わりたいと、教員を目指し、大学卒業後は、大手学習塾での教科指導、米国ウィスコンシン州の現地小学校にて1年間日本語教師、約10年の人材育成コンサル会社での子供の「生きる力」を育む教育、企業人への教育施策企画、プログラム作成、研修実施などの経験などを経てきました。
現在はフリーランスとして、企業研修講師、ワークショップ運営、コーチング、カウンセリングなど行っています。
「人に本来備わっている力を使って、自分にしか生きられない人生を楽しみながら自由に生きていくためのサポーターでありたい」という願いを持ちながら仕事しています。

<amp-img height='635' layout='responsive' src='/img/staff/cocoa.jpg' width='635'></amp-img>

##佐藤 ココア
『わくわくと感動だらけの人生を』という想いの元、現在は「動かす」をキーワードに“心を動かす”“体を動かす”“人生を動かす”人として活動中。
大手新聞社、NPO法人、人材コンサルティング会社を経て、2013年に人材育成コンサルタント、企業研修講師、ワークショップ・ファシリテーターとして独立。
専門領域はキャリア・デザイン、ピープル・マネジメント、コミュニケーション力向上、女性活躍推進など。
「しあわせにはたらく、しあわせにいきる」を支援している。
年間150回を超える企業研修登壇では、等身大のプロフェッショナル・ビジネス・ウーマンとして、数多くのはたらく人たちに元気とエネルギーを与えている。
プライベートでは、海外一人旅や西アフリカのダンス、Zumbaをこよなく愛する。
料理や家事を担当してくれるパートナーと二人暮らし。
主な保有資格：米国CTI認定プロフェッショナル・コーアクティブ・コーチ（CPCC）、米国CCE, Inc.認定GCDFキャリア・カウンセラー、生涯学習開発財団認定ワークショップ・デザイナー、EQGA公認EQトレーナー

<amp-img height='353' layout='responsive' src='/img/staff/masami.jpg' width='353'></amp-img>

##遠藤 まさみ
　専門商社、コンサルティングファームなどの社会人経験を経て、2013年にアーリーリタイア。
現在は、世界遺産探検家として夫とともに世界を旅する傍ら、大学生向けインターンシッププログラム「海外ビジネス武者修行プログラム」のファシリテーターとして活躍し、
「年の半分を旅、半分を仕事」なライフスタイルを構築中。